/* GENERAL */
.h5p-theme-button {
  --label-display: inline-block;
  --button-justify: flex-start;

  display: flex;
  align-items: center;
  justify-content: var(--button-justify);
  gap: var(--h5p-theme-spacing-xxs);
  cursor: pointer;
  height: fit-content;
  padding: var(--h5p-theme-spacing-xs) var(--h5p-theme-spacing-s);
  border: solid 3px var(--h5p-theme-main-cta-base);
  border-radius: var(--h5p-theme-border-radius-medium);
  font-size: var(--h5p-theme-font-size-m);
  font-weight: 600;
  line-height: 1;
  transition:
    transform 0.1s linear,
    padding 0.1s linear,
    text-indent 0.1s linear,
    background-color 0.1s linear,
    border-color 0.1s linear,
    width 0.1s linear;
}

.h5p-theme-button:focus-visible {
  outline: 2px ridge var(--h5p-theme-contrast-cta-white);
  border-radius: 4px;
  outline-offset: 2px;
}

.h5p-theme-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.h5p-theme-button .h5p-theme-label {
  display: var(--label-display);
}

.h5p-theme-button.icon-only {
  --label-display: none;
  --button-justify: center;
}

.h5p-theme-button::before,
.h5p-theme-button::after {
  font-family: 'h5p-theme';
  font-weight: normal;
}

/* PRIMARY CTA (USED FOR VALIDATION BUTTONS) */
.h5p-theme-primary-cta {
  --padding-inline: var(--h5p-theme-spacing-l);
  --is-icon-only: 0;
  --icon-position: absolute;
  --icon-opacity: var(--is-icon-only);
  --icon-transform-x: calc(
    (-1 * var(--h5p-theme-spacing-xxs) - var(--h5p-theme-spacing-m) / 2) *
      (1 - var(--is-icon-only))
  );
  --icon-transform-y: calc(10px * (1 - var(--is-icon-only)));

  padding-inline: calc(
    (var(--padding-inline) * (1 - var(--is-icon-only))) +
      (var(--h5p-theme-spacing-s) * var(--is-icon-only))
  );
  background-color: var(--h5p-theme-main-cta-base);
  color: var(--h5p-theme-contrast-cta);
}

.h5p-theme-primary-cta:hover:not(:disabled) {
  --padding-inline: calc(
    var(--h5p-theme-spacing-l) - var(--h5p-theme-spacing-m) / 2
  );
  --icon-opacity: 1;
  --icon-transform-x: calc(
    (-1 * var(--h5p-theme-spacing-xxs) - var(--h5p-theme-spacing-m)) *
      (1 - var(--is-icon-only))
  );
  --icon-transform-y: 0;

  background-color: var(--h5p-theme-main-cta-light);
  border-color: var(--h5p-theme-main-cta-light);
  text-indent: calc((var(--h5p-theme-spacing-m) * (1 - var(--is-icon-only))));
}

.h5p-theme-primary-cta::before {
  position: var(--icon-position);
  opacity: var(--icon-opacity);
  transform: translate(var(--icon-transform-x), var(--icon-transform-y));
  transition: transform 0.1s linear, opacity 0.1s linear;
}

/* Icon only state */
.h5p-theme-primary-cta.icon-only {
  --is-icon-only: 1;
  --icon-position: unset;
}

/* Will target Safari only which needs this or makes the whole content shift a bit. Applied selectively to prevent performance issues */
@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  .h5p-theme-primary-cta::before {
    will-change: transform;
  }
}

/* SECONDARY CTA (USED FOR SHOW SOLUTIONS, RETRY AND SIMILAR BUTTONS) */
.h5p-theme-secondary-cta {
  background-color: var(--h5p-theme-ui-base);
  border-color: var(--h5p-theme-contrast-cta-white);
  color: var(--h5p-theme-contrast-cta-white);
}

.h5p-theme-secondary-cta:hover:not(:disabled) {
  background-color: var(--h5p-theme-contrast-cta-white);
  color: var(--h5p-theme-secondary-contrast-cta-hover);
}

.h5p-theme-secondary-cta:active:not(:disabled) {
  color: var(--h5p-theme-contrast-cta);
}

.h5p-theme-primary-cta:active:not(:disabled),
.h5p-theme-secondary-cta:active:not(:disabled) {
  background-color: var(--h5p-theme-main-cta-dark);
  border-color: var(--h5p-theme-main-cta-dark);
}

/* NAVIGATION BUTTONS */
.h5p-theme-nav-button {
  border: none;
  background-color: var(--h5p-theme-secondary-cta-base);
  font-size: var(--h5p-theme-font-size-s);
  font-weight: bold;
  color: var(--h5p-theme-secondary-contrast-cta);
  white-space: nowrap;
}

.h5p-theme-nav-button:hover:not(:disabled) {
  background-color: var(--h5p-theme-secondary-cta-light);
}

.h5p-theme-nav-button:active:not(:disabled) {
  background-color: var(--h5p-theme-secondary-cta-dark);
}

/* If the container is smaller than 250px */
@container (max-width: 250px) {
  /* Icon only state */
  .h5p-theme-primary-cta {
    --label-display: none;
    --is-icon-only: 1;
    --icon-position: unset;
  }
}

/* If the container is smaller than 350px */
@container (max-width: 350px) {
  .h5p-theme-secondary-cta {
    --label-display: none;
  }
}

/* If smaller than 700px */
@container h5p-navigation (max-width: 700px) {
  .h5p-theme-nav-button {
    --label-display: none;
  }

  /* Primary CTA if inside navigation */
  .h5p-navigation .h5p-theme-primary-cta {
    --label-display: none;
    --is-icon-only: 1;
    --icon-position: unset;
  }
}
