.h5p-visual-progress {
  width: -webkit-fill-available;
  width: calc(100% - 2*5px - 2px);
  background-color: var(--h5p-theme-contrast-cta-light);
  border: 1px solid var(--h5p-theme-contrast-cta-white);
  border-radius: 8px;
  padding: 5px;
  overflow: hidden;
}

.progress-separator {
  color: var(--h5p-theme-text-third);
}

.h5p-visual-progress div {
  background-color: var(--h5p-theme-contrast-cta-white);
  height: 7px;
  width: 0%;
  max-width: 100%;
  border-radius: 5px;
  transition: width 1s;
}

/* Stop animations if user has reduced motion on */
@media (prefers-reduced-motion) {
  .h5p-visual-progress div {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}
