/* Variant "inline" */
.h5p-dropzone.h5p-dropzone--inline {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: calc(var(--h5p-theme-spacing-l) * 0.8 + 0.25rem);
  padding-right: calc(var(--h5p-theme-spacing-xxs) / 5);
  margin-bottom: 3px;
  vertical-align: middle;
}
.h5p-dropzone.h5p-dropzone--inline [aria-dropeffect] {
  position: relative;
  display: flex;
  align-items: center;
  width: 10rem;
  height: calc(100% - 0.25rem);
  border: solid 2px var(--h5p-theme-alternative-dark);
  background-color: var(--h5p-theme-alternative-dark);
  border-radius: var(--h5p-theme-border-radius-medium);
  transition: all 0.1s linear 0s;
}

.h5p-dropzone [aria-grabbed]:focus-visible,
.h5p-dropzone.h5p-dropzone--inline [aria-dropeffect]:focus-visible {
  outline: 2px ridge var(--h5p-theme-contrast-cta-white);
  border-radius: var(--h5p-theme-border-radius-medium);
  outline-offset: 2px;
}

.h5p-dropzone.h5p-dropzone--inline [aria-dropeffect].h5p-dropzone-correct {
  background: var(--h5p-theme-feedback-correct-secondary);
  border-color: var(--h5p-theme-feedback-correct-third);
}

.h5p-dropzone.h5p-dropzone--inline [aria-dropeffect].h5p-dropzone-wrong {
  color: var(--h5p-theme-feedback-incorrect-main);
  background-color: var(--h5p-theme-feedback-incorrect-secondary);
  border-color: var(--h5p-theme-feedback-incorrect-third);
}

.h5p-dropzone.h5p-dropzone--inline [aria-dropeffect]:before {
  line-height: 1.25;
}

/* Variant "area" */
.h5p-dropzone.h5p-dropzone--area {
  z-index: 2;
  position: absolute;
}

.h5p-dropzone.h5p-dropzone--area > .h5p-inner {
  height: 100%;
  min-width: unset;
  position: relative;
  border-radius: var(--h5p-theme-border-radius-medium);
  background-color: var(--h5p-theme-alternative-dark);
}

.h5p-dropzone.h5p-dropzone--area:not(.h5p-dropzone--transparent-background):has(
    .h5p-dropzone_label
  )
  > .h5p-inner {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h5p-dropzone.h5p-dropzone--area > .h5p-inner.h5p-over {
  background: var(--h5p-theme-alternative-base);
}

.h5p-dropzone.h5p-dropzone--area .joubel-tip-container {
  position: absolute;
  right: 0.5em;
  bottom: 0;
  font-size: 0.8em;
}

.h5p-dropzone.h5p-dropzone--area:focus-visible {
  outline: var(--h5p-theme-contrast-cta-white) solid 2px;
}

.h5p-dropzone.h5p-dropzone--area .h5p-dropzone_label {
  line-height: 1.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  right: 0;
  left: 0;
  bottom: 100%;
  white-space: nowrap;
  border-radius: var(--h5p-theme-border-radius-medium)
    var(--h5p-theme-border-radius-medium) 0 0;
  position: absolute;
  background-color: var(--h5p-theme-alternative-dark);
  color: var(--h5p-theme-text-primary);
}

.h5p-dropzone.h5p-dropzone--area .h5p-dropzone_label > div {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* General */
.h5p-dropzone.h5p-dropzone--inline .h5p-dropzone--hover {
  background-color: var(--h5p-theme-alternative-base);
  border-style: dashed;
  border-color: var(--h5p-theme-main-cta-dark);
  cursor: pointer;
}
